<!DOCTYPE html>
<html>
<head>
    <title>Resultado do IMC</title>
</head>
<body>
    <h1>Resultado do IMC</h1>
    <p>Altura: {{height}} metros</p>
    <p>Peso: {{weight}} kg</p>
    <p>IMC: {{imc}}</p>
    <p>{{message}}</p>
    <a href="/imc">Calcular novamente</a>
</body>
</html>
